*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #bdcebe;
}
h1{
  font-style: italic;
  font-size: 4em;
  text-align: center;
  text-shadow: 2px 2px #FF0000;
}
h2{
  font-style: italic;
  font-size: 2.75em;
  text-align: 15px;
  text-shadow: 2px 2px #FF0000;
  padding-left: 20px;
}
p{
  font-family: "Times New Roman", Times, serif;
  font-size: 1.5em;
  padding-right:20px;
  padding-left: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
}
.testimony{
  padding-top:100px;
    padding-bottom: 100px;
}
.testimony .col-3{
  text-align: centre;
  background-color:  #c4b7a6;
  padding: 40px 20px;
  box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
  cursor: pointer;
  margin-left:200px;
}
.testimony .col-3 img{
  width: 70px;
  border-radius: 40%;
  margin-top: 20px;
}
.testimony .col-3:hover{
  transform: translateY(-10px);
}
